<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="viewport"></div>
    <script type="text/javascript" src="/dist/js/simplex-noise.js"></script>
    <script type="text/javascript" src="/dist/js/index.js"></script>
</body>
</html>